<!-- Breadcrumb -->
<section class="breadcrumb breadcrumb-list mb-0">
	<span class="primary-right-round"></span>
	<div class="container">
		<h1 class="text-white">@ViewData["Title"]</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li>@ViewData["Title"]</li>
		</ul>
	</div>
</section>
<!-- /Breadcrumb -->
