<!-- Hero Section -->
<section class="hero-section">
	<div class="banner-cock-one">
		<img src="assets/img/icons/banner-cock1.svg" alt="Banner">
	</div>
	<div class="banner-shapes">
		<div class="banner-dot-one">
			<span></span>
		</div>
		<div class="banner-cock-two">
			<img src="assets/img/icons/banner-cock2.svg" alt="Banner">
			<span></span>
		</div>
		<div class="banner-dot-two">
			<span></span>
		</div>
	</div>
	<div class="container">
		<div class="home-banner">
			<div class="row align-items-center w-100">
				<div class="col-lg-7 col-md-10 mx-auto">
					<div class="section-search aos" data-aos="fade-up">
						<h4>World Class Badminton Coaching & Premium Courts</h4>
						<h1>Choose Your <span>Coaches</span> and Start Your Training</h1>
						<p class="sub-info">Unleash Your Athletic Potential with Expert Coaching, State-of-the-Art Facilities, and Personalized Training Programs.</p>
						<div class="search-box">
							<form action="coaches-grid.html">
								<div class="search-input line">
									<div class="form-group mb-0">
										<label>Search for</label>
										<select class="select">
											<option>Courts</option>
											<option>Coaches</option>
										</select>
									</div>
								</div>
								<div class="search-input">
									<div class="form-group mb-0">
										<label>Where </label>
										<select class="form-control select">
											<option value="">Choose Location</option>
											<option>Germany</option>
											<option>Russia</option>
											<option>France</option>
											<option>UK</option>
											<option>Colombia</option>
										</select>
									</div>
								</div>
								<div class="search-btn">
									<button class="btn" type="submit"><i class="feather-search"></i><span class="search-text">Search</span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="banner-imgs text-center aos" data-aos="fade-up">
						<img class="img-fluid" src="assets/img/bg/banner-right.png" alt="Banner">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Hero Section -->
<!-- Rental Deals -->
<section class="section featured-venues">
	<div class="container">
		<div class="section-heading aos" data-aos="fade-up">
			<h2>Featured <span>Venues</span></h2>
			<p class="sub-title">Advanced sports venues offer the latest facilities, dynamic and unique environments for enhanced badminton performance.</p>
		</div>
		<div class="row">
			<div class="featured-slider-group ">
				<div class="owl-carousel featured-venues-slider owl-theme">

					<!-- Featured Item -->
					<div class="featured-venues-item aos" data-aos="fade-up">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="venue-details.html">
									<img src="assets/img/venues/venues-01.jpg" alt="Venue">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Featured</span>
									<h5 class="tag tag-primary">$450<span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content">
								<div class="list-reviews">
									<div class="d-flex align-items-center">
										<span class="rating-bg">4.2</span><span>300 Reviews</span>
									</div>
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<h3 class="listing-title">
									<a href="venue-details.html">Sarah Sports Academy</a>
								</h3>
								<div class="listing-details-group">
									<p>Elevate your athletic journey at Sarah Sports Academy, where excellence meets opportunity.</p>
									<ul>
										<li>
											<span>
												<i class="feather-map-pin"></i>Port Alsworth, AK
											</span>
										</li>
										<li>
											<span>
												<i class="feather-calendar"></i>Next Availablity : <span class="primary-text">15 May 2023</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="listing-button">
									<div class="listing-venue-owner">
										<a class="navigation" href="coach-detail.html">
											<img src="assets/img/profiles/avatar-01.jpg" alt="Venue">Mart Sublin
										</a>
									</div>
									<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item aos" data-aos="fade-up">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="venue-details.html">
									<img src="assets/img/venues/venues-02.jpg" class="img-fluid" alt="Venue">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Top Rated</span>
									<h5 class="tag tag-primary">$200<span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content">
								<div class="list-reviews">
									<div class="d-flex align-items-center">
										<span class="rating-bg">5.0</span><span>150 Reviews</span>
									</div>
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<h3 class="listing-title">
									<a href="venue-details.html">Badminton Academy</a>
								</h3>
								<div class="listing-details-group">
									<p>Unleash your badminton potential at our premier Badminton Academy, where champions are made.</p>
									<ul>
										<li>
											<span>
												<i class="feather-map-pin"></i>Sacramento, CA
											</span>
										</li>
										<li>
											<span>
												<i class="feather-calendar"></i>Next Availablity : <span class="primary-text">15 May 2023</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="listing-button">
									<div class="listing-venue-owner">
										<a class="navigation" href="coach-detail.html">
											<img src="assets/img/profiles/avatar-02.jpg" alt="Venue">Rebecca
										</a>
									</div>
									<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item aos" data-aos="fade-up">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="venue-details.html">
									<img src="assets/img/venues/venues-03.jpg" class="img-fluid" alt="Venue">
								</a>
								<div class="fav-item-venues">
									<h5 class="tag tag-primary">$350<span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content">
								<div class="list-reviews">
									<div class="d-flex align-items-center">
										<span class="rating-bg">4.7</span><span>120 Reviews</span>
									</div>
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<h3 class="listing-title">
									<a href="venue-details.html">Manchester Academy</a>
								</h3>
								<div class="listing-details-group">
									<p>Manchester Academy: Where dreams meet excellence in sports education and training.</p>
									<ul>
										<li>
											<span>
												<i class="feather-map-pin"></i>Guysville, OH
											</span>
										</li>
										<li>
											<span>
												<i class="feather-calendar"></i>Next Availablity : <span class="primary-text">16 May 2023</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="listing-button">
									<div class="listing-venue-owner">
										<a class="navigation" href="coach-detail.html">
											<img src="assets/img/profiles/avatar-03.jpg" alt="Venue">Andrew
										</a>
									</div>
									<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item aos" data-aos="fade-up">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="venue-details.html">
									<img src="assets/img/venues/venues-02.jpg" class="img-fluid" alt="Venue">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Featured</span>
									<h5 class="tag tag-primary">$450<span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content">
								<div class="list-reviews">
									<div class="d-flex align-items-center">
										<span class="rating-bg">4.5</span><span>300 Reviews</span>
									</div>
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<h3 class="listing-title">
									<a href="venue-details.html">ABC Sports Academy</a>
								</h3>
								<div class="listing-details-group">
									<p>Unleash your badminton potential at our premier ABC Sports Academy, where champions are made.</p>
									<ul>
										<li>
											<span>
												<i class="feather-map-pin"></i>Little Rock, AR
											</span>
										</li>
										<li>
											<span>
												<i class="feather-calendar"></i>Next Availablity : <span class="primary-text">17 May 2023</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="listing-button">
									<div class="listing-venue-owner">
										<a class="navigation" href="coach-detail.html">
											<img src="assets/img/profiles/avatar-04.jpg" alt="Venue">Mart Sublin
										</a>
									</div>
									<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->

				</div>
			</div>
		</div>

		<!-- View More -->
		<div class="view-all text-center aos" data-aos="fade-up">
			<a href="listing-grid.html" class="btn btn-secondary d-inline-flex align-items-center">View All Featured<span class="lh-1"><i class="feather-arrow-right-circle ms-2"></i></span></a>
		</div>
		<!-- View More -->

	</div>
</section>
<!-- /Rental Deals -->
<!-- Best Services -->
<section class="section best-services">
	<div class="container">
		<div class="section-heading aos" data-aos="fade-up">
			<h2>Extra Benefits, Unmatched  <span>Service Excellence</span></h2>
			<p class="sub-title">Advance your badminton journey with DreamSports: Exclusive perks, exceptional service.</p>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="best-service-img aos" data-aos="fade-up">
					<img src="assets/img/best-service.jpg" class="img-fluid" alt="Service">
					<div class="service-count-blk">
						<div class="coach-count">
							<h3>Coaches</h3>
							<h2><span class="counter-up">88</span>+</h2>
							<h4>Highly skilled badminton coaches with extensive expertise in the sport.</h4>
						</div>
						<div class="coach-count coart-count">
							<h3>Courts</h3>
							<h2><span class="counter-up">59</span>+</h2>
							<h4>Well-maintained courts for optimal badminton experiences.</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ask-questions aos" data-aos="fade-up">
					<h3>Frequently Asked Questions</h3>
					<p>Here are some frequently asked questions about badminton at DreamSports:</p>
					<div class="faq-info">
						<div class="accordion" id="accordionExample">

							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<a href="javascript:;" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How can I book a badminton court at DreamSports?
									</a>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>Book your DreamSports badminton court online or contact our customer service for seamless reservations. </p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										What is the duration of a badminton court booking?
									</a>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>Book your DreamSports badminton court online or contact our customer service for seamless reservations. </p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Can I rent badminton equipment at DreamSports?
									</a>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingFour">
									<a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Are there any coaching services available  at DreamSports?
									</a>
								</h2>
								<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingFive">
									<a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Can I join badminton leagues or tournaments at DreamSports?
									</a>
								</h2>
								<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Best Services -->
<!-- Featured Coaches -->
<section class="section featured-section">
	<div class="container">
		<div class="section-heading aos" data-aos="fade-up">
			<h2>Featured <span>Coaches</span></h2>
			<p class="sub-title">Uplift your badminton game with our featured coaches, personalized instruction, and expertise to achieve your goals.</p>
		</div>
		<div class="row">
			<div class="featured-slider-group aos" data-aos="fade-up">
				<div class="owl-carousel featured-coache-slider owl-theme">

					<!-- Featured Item -->
					<div class="featured-venues-item">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="coach-detail.html">
									<img src="assets/img/profiles/user-01.jpg" alt="User">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Rookie</span>
									<div class="list-reviews coche-star">
										<a href="javascript:void(0)" class="fav-icon">
											<i class="feather-heart"></i>
										</a>
									</div>
								</div>
								<div class="hour-list">
									<h5 class="tag tag-primary">From $250 <span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content list-coche-content">
								<span>4 Lessons</span>
								<h3><a href="coach-detail.html">Kevin Anderson</a></h3>
								<a href="coach-details.html"><i class="feather-arrow-right"></i></a>
								<a href="coach-details.html" class="icon-hover"><i class="feather-calendar"></i></a>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="coach-detail.html">
									<img src="assets/img/profiles/user-02.jpg" alt="User">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Intermediate</span>
									<div class="list-reviews coche-star">
										<a href="javascript:void(0)" class="fav-icon">
											<i class="feather-heart"></i>
										</a>
									</div>
								</div>
								<div class="hour-list">
									<h5 class="tag tag-primary">From $150 <span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content list-coche-content">
								<span>3 Lessons</span>
								<h3><a href="coach-detail.html">Harry Richardson</a></h3>
								<a href="coach-details.html"><i class="feather-arrow-right"></i></a>
								<a href="coach-details.html" class="icon-hover"><i class="feather-calendar"></i></a>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="coach-detail.html">
									<img src="assets/img/profiles/user-03.jpg" alt="User">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Professional</span>
									<div class="list-reviews coche-star">
										<a href="javascript:void(0)" class="fav-icon">
											<i class="feather-heart"></i>
										</a>
									</div>
								</div>
								<div class="hour-list">
									<h5 class="tag tag-primary">From $350 <span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content list-coche-content">
								<span>2 Lessons</span>
								<h3><a href="coach-detail.html">Evon Raddick</a></h3>
								<a href="coach-details.html"><i class="feather-arrow-right"></i></a>
								<a href="coach-details.html" class="icon-hover"><i class="feather-calendar"></i></a>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="coach-detail.html">
									<img src="assets/img/profiles/user-04.jpg" alt="User">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Rookie</span>
									<div class="list-reviews coche-star">
										<a href="javascript:void(0)" class="fav-icon">
											<i class="feather-heart"></i>
										</a>
									</div>
								</div>
								<div class="hour-list">
									<h5 class="tag tag-primary">From $250 <span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content list-coche-content">
								<span>4 Lessons</span>
								<h3><a href="coach-detail.html">Angela Roudrigez</a></h3>
								<a href="coach-details.html"><i class="feather-arrow-right"></i></a>
								<a href="coach-details.html" class="icon-hover"><i class="feather-calendar"></i></a>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->
					<!-- Featured Item -->
					<div class="featured-venues-item">
						<div class="listing-item mb-0">
							<div class="listing-img">
								<a href="coach-detail.html">
									<img src="assets/img/profiles/user-02.jpg" alt="User">
								</a>
								<div class="fav-item-venues">
									<span class="tag tag-blue">Intermediate</span>
									<div class="list-reviews coche-star">
										<a href="javascript:void(0)" class="fav-icon">
											<i class="feather-heart"></i>
										</a>
									</div>
								</div>
								<div class="hour-list">
									<h5 class="tag tag-primary">From $150 <span>/hr</span></h5>
								</div>
							</div>
							<div class="listing-content list-coche-content">
								<span>4 Lessons</span>
								<h3><a href="coach-detail.html">Harry Richardson</a></h3>
								<a href="coach-details.html"><i class="feather-arrow-right"></i></a>
								<a href="coach-details.html" class="icon-hover"><i class="feather-calendar"></i></a>
							</div>
						</div>
					</div>
					<!-- /Featured Item -->

				</div>
			</div>
		</div>
		<div class="view-all text-center aos" data-aos="fade-up">
			<a href="coaches-list.html" class="btn btn-secondary d-inline-flex align-items-center">
				View All Coaches  <span class="lh-1"><i class="feather-arrow-right-circle ms-2"></i></span>
			</a>
		</div>
	</div>
</section>
<!-- /Featured Coaches -->
